*{
  margin: 0;
  padding: 0;
}

body{
  background-image: url(alexander-dummer-aS4Duj2j7r4-unsplash.jpg);
  background-size:cover;
  background-repeat: no-repeat;
}

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #14141470;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 25px;
  text-decoration: none;
  font-size: large;
  transition: all .5s ease-in-out; 
}

li a:hover {
  background-color: #a5a5a5;
}