@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Protest+Guerrilla&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap');

/* 
font-family: "Protest Guerrilla", sans-serif;
font-family: "Josefin Sans", sans-serif;
font-family: "Quicksand", sans-serif;
font-family: "Playfair Display", serif; 
*/

*{
    padding: 0;
    margin: 0;
}

.pg{
    font-family: "Protest Guerrilla", sans-serif;
}

.js{
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
}

.qs{
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
}

.pd{
    font-family: "Playfair Display", serif; 
    font-weight: 300;
}